{% extends 'base_pages/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    </style>
    <div class="about-container">
        <h1 class="about-title">About Pathfinder</h1>
        <p>Pathfinder is an interactive web application that visualises the path-finding process
            between railway stations on the London Railway Network.</p>

        <h3 class="about-subtitle">Motivation</h3>
        <p>This project is an extension of one of my university courseworks (UCL COMP0005 Algorithms
            Module), which I built solely to demonstrate and test my skills in developing web
            applications, as well as applying algorithms I have learnt from the module.</p>
        <h3 class="about-subtitle">Features</h3>
        <p>This version supports:</p>
        <ul class="about-features">
            <li>Entering the names of 2 stations</li>
            <li>Visualing the route on the map</li>
            <li>No selection of path-finding algorithms (To be changed)</li>
        </ul>
        <h3 class="about-subtitle">Tools Used</h3>
        <p>Programming Languages: Python, HTML, CSS, JavaScript</p>
        <p>Web Framework: Django</p>
    </div>
{% endblock %}