{% extends 'base_pages/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    </style>
    <h1>About Pathfinder</h1>
    <p>Pathfinder is an interactive web application that visualises the path-finding process
        between railway stations on the London Railway Network.</p>

    <h3>Motivation</h3>
    <p>This project is an extension of one of my university courseworks (UCL COMP0005 Algorithms
        Module), which I built solely to demonstrate and test my skills in developing web
        applications, as well as applying algorithms I have learnt from the module.</p>
    <h3>Features</h3>
    <p>This version supports:</p>
    <ul>
        <li>Entering the names of 2 stations</li>
        <li>Visualing the route on the map</li>
        <li>No selection of path-finding algorithms (To be changed)</li>
    </ul>
{% endblock %}