{% extends 'base_pages/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pathfinder.css' %}">
{% endblock %}
{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <h1>Pathfinder</h1>
    <p>Enter start and end stations to find their distance.</p><br>

    <!-- Form to ask user for starting and ending stations -->
    <label for="user-start-stn">Your starting station: <span class="span_error_start"></span></label>
    <input type="text" id="user-start-stn" autofocus=""><br>
    <label for="user-end-stn">Your destination: <span class="span_error_end"></span></label>
    <input type="text" id="user-end-stn" autofocus=""><br><br>
    <button type="button" id="sender">Send data</button><br>

    <!-- Display algorithm results -->
    <p>Distance = <span class="span_distance"></span></p>
    <p>ID Path: <span class="span_id_path"></span></p>
    <p>Name Path: <span class="span_name_path"></span></p>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbdBjq8tdxsYt-ui9hy_sUXxY8RYOgkxg&callback=initMap&v=weekly"
      async
    ></script>
    <script>
        let map;
        var marker_array = [];
        var stations = [];
        var polylines = [];
        let line;           // For the removeAllPolylines and animateRoute function - to save the polyline as an object.

        // Method to store the station objects into an array.
        function storeStations() {
            var id = 0;
            {% for station in stations %}
                var properties = {
                    "id": id,
                    "name": "{{ station.name }}",
                    "lat": "{{ station.lat }}",
                    "lng": "{{ station.lng }}",
                    "tubeLine": "{{ station.tubeLine }}",
                    "adj": "{{ station.adjacencyList }}",
                    "color": "{{ station.lineColor }}"
                }
                stations.push(properties);
                id++;
            {% endfor %}
        }
        storeStations();

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 51.5080184, lng: -0.1279401 },
                zoom: 10,
            });

            {% for station in stations %}
                // Create marker for station and plot on google maps.
                var marker = new google.maps.Circle({
                    strokeColor: "{{ station.lineColor }}",
                    strokeOpacity: 1,
                    strokeWeight: 1,
                    fillColor: "{{ station.lineColor }}",
                    fillOpacity: 0.35,
                    map: map,
                    center: {lat: {{ station.lat }}, lng: {{ station.lng }}},
                    title: "{{ station.name }}",
                    radius: map.getZoom() * 10,
                    label: {
                        fontsize: "8pt",
                        text: "{{ station.name }}"
                    }
                });

                marker_array.push(marker);
            {% endfor %}

            // Listener to trigger path-finding algorithm
        }

        // Method to fetch the properties of a given station ID.
        function getStationDetails(stationID) {
            return stations[stationID - 1];
        }

        function addPolyline() {
            for (let i = 0; i < polylines.length; i++) {
                polylines[i].setMap(map);
            }
        }

        // Remove all polylines before drawing a new one
        function removeAllPolylines() {
            for (let i = 0; i < polylines.length; i++) {
                polylines[i].setMap(null);
                polylines[i].setVisible(false);
            }
            polylines.length = 0;
            console.log("polylines length: " + polylines.length);
        }

        function animateRoute(routeList) {
            console.log("Working");
            removeAllPolylines();
            var prev_lat = "";
            var prev_lng = "";
            var current_lat = "";
            var current_lng = "";

            for (let i = 0; i < routeList.length; i++) {
                var id = routeList[i];
                var station_properties = getStationDetails(id);

                if (i === 0) {
                    // Get station details
                    current_lat = parseFloat(station_properties["lat"]);
                    current_lng = parseFloat(station_properties["lng"]);
                    prev_lat = current_lat;
                    prev_lng = current_lng;
                } else {
                    // Get station details
                    current_lat = parseFloat(station_properties["lat"]);
                    current_lng = parseFloat(station_properties["lng"]);

                    // Animate
                    let line = new google.maps.Polyline({
                        path: [
                            {lat: prev_lat, lng: prev_lng},
                            {lat: current_lat, lng: current_lng},
                        ],
                        geodesic: true,
                        strokeColor: "#000000",
                        strokeOpacity: 1,
                        strokeWeight: 2,
                    });

                    polylines.push(line);
                    prev_lat = current_lat;
                    prev_lng = current_lng;
                }
            }
            addPolyline();
        }

        // Ajax method to send and receive data (to prevent page reload).
        $("#sender").click(function () {
            var user_start = $('#user-start-stn').val();
            var user_end = $('#user-end-stn').val();

            $.ajax({
                url: '{% url 'get_response' %}',
                data: {
                    'user_start': user_start,
                    'user_end': user_end
                },
                dataType: 'json',
                success: function (data) {
                    document.querySelector('.span_distance').innerHTML = data["calculated_distance"];
                    document.querySelector('.span_id_path').innerHTML = data["calculated_id_path"];
                    document.querySelector('.span_name_path').innerHTML = data["calculated_name_path"];
                    document.querySelector('.span_error_start').innerHTML = data["error_start"];

                    // Get raw path to animate route.
                    var raw_path_list = data["calculated_raw_path"];
                    animateRoute(raw_path_list);
                }
            });
        });
    </script>

    <!-- Using conditions in a template -->
{#    {% if my_num == 0.01 %}#}
{#        <li>Yes</li>#}
{#    {% else %}#}
{#        <li>No</li>#}
{#    {% endif %}#}
{% endblock %}