* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'RobotoMono';
    src: url("../fonts/RobotoMono-Regular.ttf");
}

.about-container {
    padding: 20px 10% 20px 10%;
}

p, ul, li {
    font-size: calc(10px + 0.5vw);
    font-family: 'RobotoMono', serif;
}

ul {
    padding-left: 0;
}

.about-features > li {
    margin-left: 40px;
}

h1 {
    padding: 5% 0 10px 0;
    font-size: 40px;
    font-family: 'RobotoMono', serif;
}

h3 {
    padding: 5% 0 10px 0;
    font-size: 25px;
    font-family: 'RobotoMono', serif;
}